@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap");

body {
  background-color: #efefef;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 16px;
}

main {
  margin: auto;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.search {
  margin: auto;
  display: flex;
  /* justify-self: center; */
  text-align: center;
  flex-direction: column;
  padding: 16dp;
  align-content: center;
  min-height: 100vh;
}

.continue {
  background-color: #000;
  color: #fff;
  height: 50px;
  border-radius: 30px;
  width: 80%;
  border-color: transparent;
}

.choose {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.select_place {
  outline: none;
  border-radius: 10px;
  border-color: transparent;
  background-color: #efefef;
  margin: 8px;
  padding: 8px 12px;
}

.search_columns {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 5px;
  row-gap: 10px;
}

.nav_row {
  height: 100px;
  justify-items: center;
}
