body {
  background-color: #efefef;
}

main {
  margin: auto;
  display: flex;

  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.search {
  margin: auto;
  display: flex;
  /* justify-self: center; */
  text-align: center;
  flex-direction: column;
  padding: 16dp;
  align-content: center;
  min-height: 100vh;
}
